.page {
    height: 100vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start; 
    scroll-snap-stop: always; 
}

.background {
    box-sizing: border-box;
    background-image: url('/images/wallpapers/wallpaper_about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 5%;
    position: relative; /* Necessário para usar o ::before */
}
.aboutBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Filtro branco translúcido */
    z-index: 1; /* Posiciona o filtro acima da imagem */
}
.aboutBackground > * {
    position: relative; /* Garante que o conteúdo fique acima do filtro */
    z-index: 2;
}

.title{
    background-color: rgba(255, 255, 255, 0.75);
    width: 40%;
    min-width: 25rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    border: 2px black solid; 
}
.title h1{
    color: black;
    font-family: var(--font-mono);
    font-size: 3rem;
    margin: 0;
}

.profile{
    width: 95%;
    max-width: 70rem;
    height: 35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.profile_left{
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    min-width:20rem;
    height: 100%;
    gap: 10px;
    border-radius: 10%;
    border: 2px black solid; 
}

.profile_image{
    background-image: url('/images/eu.jpg');;
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat; 
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 50%;
    border-radius: 10%;
}

.info{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 35%;
}
.info p{
    color: black;
}

.profile_right{
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35rem;
    min-width:20rem;
    border-radius: 10%;
    padding: 20px;
    border: 2px black solid; 
}
.profile_right p{
    color: black;
    font-size: 1rem; 
    margin: 0;
    padding: 0.5rem; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    text-align: justify; 
    white-space: normal;
    line-height: 2; 
}

.container_icon{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 5rem;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 5rem;
    height: 5rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}