.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
}

.navegacao_aberta {
    background-color: rgb(27, 24, 24);
    opacity: 95%;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 25vh; 
    height: 100%; 
    font-family: var(--font-mono);
    font-size: 1.2rem;
    transition: width 0.3s ease-in-out;
    z-index: 100;
}

.navegacao_fechada {
    background-color: rgb(27, 24, 24);
    opacity: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 42.5%;
    width: 7.5vh;
    height: 7.5vh;
    transition: width 0.3s ease-in-out;
    z-index: 101; 
    cursor: pointer;
}

.caixa_toggle {
    background-color: rgb(27, 24, 24);
    opacity: 95%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 0;
    right: 0; 
    cursor: pointer;
    z-index: 102; 
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.page {
    height: 100vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start; 
    scroll-snap-stop: always; 
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.background_Home{
    background-image: url('/images/wallpaper_web2_editado.png');;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.imagem{
    background-color: #e9030300;
    width: 25rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_Abilities{
    box-sizing: border-box;
    background-image: url('/images/wallpaper_web1_editado.png');;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.background_Abilities h3{
    margin: 0;
    color: #ffffff;
    font-family: var(--font-mono);
    font-size: 1.75rem;
    margin: 1rem;
}

.container_Title_Tools{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: 6rem;
    margin: 0;
}
.container_Title_Tools h2{
    text-align: center;
    font-family: var(--font-mono);
    font-size: 3rem;
    justify-content: start;
    margin: 0;

}

.container_LT{
    background-color: #0f0f0f56;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25%;
    margin: 0.33rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}



/* Mobile */
@media (max-width: 700px) {
    .center {
      padding: 8rem 0 6rem;
    }
  
    .description {
      font-size: 0.8rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

    .center {
        padding: 8rem 0 6rem;
    }

    .description {
        font-size: 0.8rem;
    }
}
