.page {
    height: 100vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start; 
    scroll-snap-stop: always; 
}

.background{
    background-image: url('/images/wallpapers/wallpaper_home.png');;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.title {
    width: 90%;
    height: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.title h1{
    font-family: var(--font_main);
    margin: 0;
    padding: 0.5rem; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    text-align: justify; 
    white-space: normal;
}

.imagem{
    background-color: #e9030300;
    min-width: 25rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}